/* 1. Light (300) - 본문용 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: url('/fonts/Pretendard-Light.woff2') format('woff2');
    font-display: swap;
}

/* 2. Bold (700) - 강조용 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
    font-display: swap;
}

/* 3. ExtraBold (800) - 제목(H1)용 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: url('/fonts/Pretendard-ExtraBold.woff2') format('woff2');
    font-display: swap;
}

h1 {
    font-family: 'Pretendard';
    font-weight: 800; /* Pretendard-ExtraBold.woff2 파일 로드됨 */
}

/*기본 스타일*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
  font-weight: 300;
  background-color: #fcfcfc;
}

a {
  color: inherit;
  text-decoration: none;
}
