/* 전체 레이아웃 컨테이너 */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.title {
    font-family: 'Pretendard';
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

.currentHeader {
    display: flex;
    align-items: center;
}

.currentWeather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp {
    font-size: 3rem;
    font-weight: bold;
}

.forecastItem {
    border-bottom: 1px solid #e0e0e0;
}

.forecastList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.forecastSummary {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
}

.forecastDetails {
    padding: 15px;
    background-color: white;
}

/*아이콘+시간 */
.detailRow {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
}

.detailLeft{
    display: flex;
    align-items: center;
}

/* 오른쪽 그룹 (설명 + 온도) */
.detailRight {
    text-align: right; /* 우측 정렬 */
}

.detailTime {
    font-size: 1.1rem;
    font-weight: bold;
    color: #555;
}

.detailTemp {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.earthImage {
    display: block;
    margin: 20px auto 0;
    max-width: 50px;
    width: 100%;
    height: auto;
}

.directionImage {
    width: 20px;
    height: 20px;
    display: block;
}

.weatherIconCircle {
    width: 50px;
    height: 50px;
    background-color: #f7dcd6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    color: #333;
    line-height: 1.1;
    margin-right: 15px; /* 옆 텍스트와 간격 */
    flex-shrink: 0; /* 찌그러짐 방지 */
}

.card h3 {
    text-align: center; /* 텍스트 가운데 정렬 */
    margin-top: 0;      /* 상단 여백 제거 */
    margin-bottom: 20px;
    font-size: 1.5rem;
    /*제목 아래 구분선*/
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.population {
    font-size: 0.7rem;
    color: #666;
    margin-left: 10px; /* 도시 이름과 간격 */
    font-weight: 300;  /* 얇게 */
}

@media (max-width: 1280px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .container {
        width: 800px;
        overflow-x: auto;
    }
}